$background: #000000;
$neon-purple: #9900FF;
$font: whitesmoke;
$danger: #df4759;
$success: #008F39;
$border: #676869;
$container-background: #1A1A1B;
$input-background: #3A3A3C;
$input-border: #9a9b9c;