//Here goes ONLY the imports and default styling. Each page and/or component should have it's own scss file.
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "./variables";
@import "./layout";
@import "./header";
@import "./result";
@import "./games-section";
@import "./game-card";
@import "./game-page";
@import "./info";
@import "./paginator";

body, html{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: $font;
    background: $background;
    scroll-behavior: smooth;
}

*:focus{
    outline: none;
}

*::-webkit-scrollbar{
    width: 10px;
    background-color: #222222;
}

*::-webkit-scrollbar-thumb{
    background-color: #676869;
}

*::-webkit-scrollbar-thumb:hover{
    background-color: #9a9b9c;
}

a{
    color: $font;
    text-decoration: none;
}

.btn-link{
    width: 10vw;
    text-align: center;
    font-weight: bolder;
    border: 1px solid $input-border;
    border-radius: 5px;
    padding: 10px;
}

.text-link{
    text-decoration: underline;
}

.txt-center{
    text-align: center;
}