//Here goes ONLY the imports and default styling. Each page and/or component should have it's own scss file.
@import "./variables";
@import "./home";
@import "./header";
@import "./result";
@import "./games-section";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $font;
    background: $background;
}

*:focus{
    outline: none;
}

html::-webkit-scrollbar{
    width: 10px;
    background-color: #222222;
}

html::-webkit-scrollbar-thumb{
    background-color: #676869;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #9a9b9c;
}

a{
    color: $font;
    text-decoration: none;
}