#game{
    #game-main-info{
        display: grid;
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(3);
        column-gap: 20px;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;

        #cover{
            grid-column: 1;
            grid-row: 1/4;

            img{
                border-radius: 10px;
            }
        }
    
        #name{
            grid-column: 2/4;
            grid-row: 1;

            h1, p{
                margin: 0;
            }
        }
    
        #description{
            grid-column: 2/4;
            grid-row: 2;

            #rating{
                user-select: none;
            }

            .platforms{
                font-size: 15px;
            }
        }

        #add-info-links{
            user-select: none;
            grid-column: 2/4;
            grid-row: 3;
            margin: auto;
            margin-top: 0;
            display: flex;
            width: 100%;

            a{
                margin: 10px auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }
        }

        .game-link{
            display: flex;

        }
    }

    #game-multimedia{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #trailer{
            margin: auto;

            .video{
                width: 600px;
                height: 400px;
                border-radius: 5px;
            }
        }

        #screenshots{
            margin: 10px auto;

            img{
                width: 20vw;
                border-radius: 10px;
            }
        }
    }

    #add-content{
        margin: auto;

        .extra-content{
            display: flex;

            .game-card{
                margin-left: 20px;
                margin-right: 20px;
            }

            :first-child{
                margin-left: auto;
            }

            :last-child{
                margin-right: auto;
            }
        }
    }

    #links{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        #buy, #communities, #official{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        #official .game-links{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            justify-items: center;
            text-align: center;

            a{
                width:50%;
            }
        }
    }
}

@media (max-width: 1000px){
    #game{
        #game-main-info{
            width: 100%;
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(4);

            #cover{
                grid-row: 1;
                grid-column: 1;
                margin: auto;
    
                img{
                    border-radius: 10px;
                }
            }
        
            #name{
                grid-column: 1;
                grid-row: 2;
                margin-left: 0px;
                width: 100%;
                text-align: center;
    
                h1, p{
                    margin: 0;
                }
            }
        
            #description{
                grid-row: 3;
                grid-column: 1;
    
                #rating{
                    user-select: none;
                }
    
                .platforms{
                    font-size: 15px;
                }
            }
    
            #add-info-links{
                user-select: none;
                grid-column: 1;
                grid-row: 4;
                margin: auto;
                margin-top: 0;
                display: flex;
                width: 100%;
    
                a{
                    width: 100%;
                    margin: 10px auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                }
            }
        }

        #game-multimedia{
            #trailer{
                .video{
                    width: 100%;
                }
            }
        }
    }
}