.section-wrapper{
    position: relative;

    .carousel{
        display: grid;
        transition: .5s transform;

        .game-card{
            width: 265px;
            border-radius: 10px;
            margin: 10px;
            margin-bottom: 50px;
        
            img{
                width: 100%;
                height: 90%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin-bottom: 0;
                display: block;
            }
        
            .info-wrapper{
                background-color: $container-background;
                margin: 0;
                padding: 5px;
        
                .game-name{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    line-height: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                }
            
                .game-rating{
                    margin: 0;
                }
        
                .platforms{
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: block;
                }
            }
        }
    }
}