.section-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;

    .carousel-arrow{
        cursor: pointer;
        font-size: 70px;
        position: absolute;
        z-index: 1;
        top: calc(50% - 2.5rem);
        user-select: none;
    }

    .arrow-next{
        right: 0px;
    }

    .arrow-prev{
        left: 0px;
    }

    .carousel{
        margin: 20px;
        width: calc(100% - 70px);
        position: relative;
        display: grid;
        gap: 20px;
        transition: .5s transform;
        grid-template-columns: repeat(10, 265px);
    }
}

@media(max-width: 1000px){
    .carousel-arrow{
        display: none;
    }

    .carousel{
        width: 100% !important;
        margin: auto !important;
        grid-template-columns: repeat(10, 150px) !important;
        gap: 5px !important;
        overflow-x: scroll !important;
    }
}