#result-main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    justify-content: center;
    gap: 20px;
}

#order-page{
    margin: 20px auto;
    display: flex;
    flex-shrink: 0;
    width: 100%;

    #order{
        margin-left: auto;
    }

    #filters{
        margin-right: auto;
    }

    #order, #filters{
        width: auto;
        position: relative;

        .filter-btn{
            max-width: 100%;
            min-width: 100px;
            margin: 0;
            user-select: none;
            cursor: pointer;
        }

        .filter-opts{
            position: absolute;
            left: 10px;
            width: 100%;
            min-width: 150px;
            background-color: $container-background;
            border: 1px solid $border;
            overflow-y: scroll;

            #genres{
                max-height: 250px;
                overflow-y: scroll;
            }

            .filter-opt{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 50px;
                user-select: none;
                cursor: pointer;

                i{
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 1000px){
    #result-main{
        width: 100%;
        gap: 5px;
    }
}